
/*background color*/

body{
background-color : #ffc34d;
font-size: 16px;
}

body.recepies {
background-color:#ffc34d;
}
body.mango { background-color: #9ACD32; }
body.blueberry { background-color: #00cccc; }
body.tropical { background-color: #ff4d4d; }

/*home side*/
.home .logo, .home-side {
	background-color: #00cccc;
	margin-left: 150px;}

	.home-side {margin-bottom:-5em;}

/*logo*/
.logo {
text-align: right;
padding-top: 25px; 
padding-right: 90px;
}

/*page grid tropical*/

.grid1 {
	margin:auto;
}
.tropical .grid {
	display: grid;
	grid-template-columns: 50% 50%;
}
.tropical .grid  {width: 90%; margin: auto;}
.tropical .grid img {
	margin-left: 5px;
	width: 90%;
	border: 30px solid white;
	border-bottom: 80px solid white;}

/*page grid recepies*/

.recepies .grid1 {
	display: grid;
	grid-template-columns: 30% 30% 30%;
	width: 90%;
	margin:auto;
	text-align: center;
	grid-gap: 60px;
}
.recepies .grid1 img {
	width: 100%;
	border: 20px solid white;
	border-bottom: 60px solid white;
}

.margin-down { margin-top: 99px; }

/*page grid mango*/

.mango .grid {
	display: grid;
	grid-template-columns: 50% 50%;
}
.mango .grid  {width: 90%; margin: auto;}
.mango .grid img {
	margin-left: 5px;
	width: 90%;
	border: 30px solid white;
	border-bottom: 80px solid white;
}

/*page grid home*/

.home .grid {
	display: grid;
	grid-template-columns: 60% 40%;
}

.home .grid img {
	width: 90%;
	border: 30px solid white;
	border-bottom: 90px solid white;
}

.home .grid img  {
	margin-left: 80px;
}
header {
	display: grid;
	grid-template-columns: 60% 40%
}

header img { margin-top:20px; 
text-align: right;
}

/*page grid blueberry*/

.blueberry .grid {
	display: grid;
	grid-template-columns: 50% 50%;
}
.blueberry .grid  {width: 90%; margin: auto;}
.blueberry .grid img {
	margin-left: 5px;
	width: 90%;
	border: 30px solid white;
	border-bottom: 80px solid white;
}

.grid img {
	text-align: right;
}

/*paragraph style*/

.title {font-family: 'Zhi Mang Xing', cursive;
font-size : 80px;
text-align: right;
padding-top: 400px;
padding-bottom: 30px; 
margin-right: 85px; 
color:white;
}

.about {font-family: 'Rouge Script', cursive;
font-size : 30px;
text-align: right;
line-height: 30px;
color:white;
margin-left:85px;
}
.about {max-width: 350px;}

h2 {font-family: 'Zhi Mang Xing', cursive;
font-size : 48px;
padding-top: 60px;
padding-bottom: 30px;
line-height: 35px;
margin-left: 65px;
color:white;
 }

h3 {font-family: 'Zhi Mang Xing', cursive;
font-size : 26px;
line-height: 25px;
margin-left: 65px;
color:white;
}

li {
	font-family: 'Rouge Script', cursive;
	font-size : 27px;
	line-height: 30px;
	margin-left: 65px;
	color:white;
}
p {font-family: 'Rouge Script', cursive;
  font-size : 27px;
  line-height: 25px;
  margin-left: 65px;
  color:white;
}

.recepies .grid1 {font-family: 'Zhi Mang Xing', cursive;
font-size : 48px;
line-height: 3em;
color:white;}

.instructions {max-width: 400px;}

/*links*/

a:any-link {
color:white;
text-decoration:none;
cursor: auto;}

a:hover {
	color: #568028;
}


/*nagavation*/

nav {
text-align: left;
margin: 0px 70px ;
padding: 10px 0;
}

nav ul{
  list-style: none;
  margin: 0 2px;
  padding: 0;
}

nav li {
   display: inline-block;
   padding: 20px 20px;
margin-left:-10px;
}

nav a {
  font-weight: normal;
  font-family: 'M PLUS 1p', sans-serif;
  padding: 10px 5px;
  font-size: 16px;
  border-right:.5px solid white;
  color:white;
  text-decoration: none;
  padding-right: 35px;
}
nav a:hover {
	border-bottom: 3px;
	color: #568028;}

